<%- include("templates/cabecera", {tituloWeb: 'Mascotas-lista'}) %>

    <div class="container">

        <a class="btn btn-success my-4" href="/mascotas/crear">
          CREAR
        </a>

        <table class="table">      

            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>

                <% if (arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(mascota => { %>
                        <tr>
                            <th scope="row"><%= mascota.id %></th>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td>
                              <h1>COsa</h1>
                              <a class="btn btn-warning btno-sm"
                                  href="mascotas/<%= mascota.id %>"
                              >Editar</a>
                            </td>
                          </tr>
                    <% }) %>
                <% } %>
            
            </tbody>
          </table>

    </div>

<%- include("templates/footer") %>